<?xml version="1.0" encoding="utf-8"?>
<XnaContent xmlns:ns="Microsoft.Xna.Framework">
  <Asset Type="ThePeacenet.Gui.GuiSkin">
    <Elements>
      <Element>
        <ControlType>Border</ControlType>

        <Styles>
          <Style>
            <Name>Default</Name>
            <Brushes>
              <Brush>
                <Name>BackgroundBrush</Name>
                <Texture>Gui/Textures/window</Texture>
                <BrushType>Box</BrushType>
                <Margin>
                  <Left>5</Left>
                  <Top>5</Top>
                  <Right>5</Right>
                  <Bottom>5</Bottom>
                </Margin>
              </Brush>
            </Brushes>
          </Style>
        </Styles>
      </Element>
      <Element>
        <ControlType>Border</ControlType>
        <StyleClass>Wallpaper</StyleClass>

        <Styles>
          <Style>
            <Name>Default</Name>
            <Brushes>
              <Brush>
                <Name>BackgroundBrush</Name>
                <Texture>Wallpapers/1</Texture>
              </Brush>
            </Brushes>
          </Style>
        </Styles>
      </Element>
      <Element>
        <ControlType>Button</ControlType>

        <Styles>
          <Style>
            <Name>Default</Name>
            <Brushes>
              <Brush>
                <Name>BackgroundBrush</Name>
                <Texture>Gui/Textures/button</Texture>
                <BrushType>Box</BrushType>
                <Margin>
                  <Left>5</Left>
                  <Top>5</Top>
                  <Right>5</Right>
                  <Bottom>5</Bottom>
                </Margin>
              </Brush>
            </Brushes>
            <Properties>
              <Property>
                <Name>Margin</Name>
                <Value Type="ThePeacenet.Gui.Thickness">
                  <Left>14</Left>
                  <Top>8</Top>
                  <Right>14</Right>
                  <Bottom>8</Bottom>
                </Value>
              </Property>
            </Properties>
          </Style>
          <Style>
            <Name>HoverStyle</Name>
            <Brushes>
              <Brush>
                <Name>BackgroundBrush</Name>
                <Texture>Gui/Textures/buttonh</Texture>
                <BrushType>Box</BrushType>
                <Margin>
                  <Left>5</Left>
                  <Top>5</Top>
                  <Right>5</Right>
                  <Bottom>5</Bottom>
                </Margin>
              </Brush>
            </Brushes>
          </Style>
          <Style>
            <Name>PressedStyle</Name>
            <Brushes>
              <Brush>
                <Name>BackgroundBrush</Name>
                <Texture>Gui/Textures/buttonc</Texture>
                <BrushType>Box</BrushType>
                <Margin>
                  <Left>5</Left>
                  <Top>5</Top>
                  <Right>5</Right>
                  <Bottom>5</Bottom>
                </Margin>
              </Brush>
            </Brushes>
          </Style>
        </Styles>
      </Element>
      <Element>
        <ControlType>Button</ControlType>
        <StyleClass>AppButton</StyleClass>

        <Styles>
          <Style>
            <Name>Default</Name>
            <Brushes>
              <Brush>
                <Name>BackgroundBrush</Name>
                <Texture>Gui/Textures/menu</Texture>
                <Margin>
                  <Left>5</Left>
                  <Top>5</Top>
                  <Right>5</Right>
                  <Bottom>5</Bottom>
                </Margin>
              </Brush>
            </Brushes>
          </Style>
          <Style>
            <Name>HoverStyle</Name>
            <Brushes>
              <Brush>
                <Name>BackgroundBrush</Name>
                <Texture>Gui/Textures/menu</Texture>
                <Margin>
                  <Left>5</Left>
                  <Top>5</Top>
                  <Right>5</Right>
                  <Bottom>5</Bottom>
                </Margin>
              </Brush>
            </Brushes>
          </Style>
          <Style>
            <Name>PressedStyle</Name>
            <Brushes>
              <Brush>
                <Name>BackgroundBrush</Name>
                <Texture>Gui/Textures/menudown</Texture>
                <BrushType>Box</BrushType>
                <Margin>
                  <Left>5</Left>
                  <Top>5</Top>
                  <Right>5</Right>
                  <Bottom>5</Bottom>
                </Margin>
              </Brush>
            </Brushes>
          </Style>
        </Styles>
      </Element>
    </Elements>
  </Asset>
</XnaContent>
